In [9]:
import pandas as pd
import numpy as np
import sys, os, re

In [25]:
code_country_df = pd.read_csv('vessels_by_nationalities/code_country.tsv', sep="\t")
code_country_df = code_country_df.set_index('code')
code_country_temp = code_country_df.to_dict('index')
code_country = {c:code_country_temp[c]['country'] for c in code_country_temp}

In [26]:
months = {"Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun": 6, "Jul": 7, "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12}

rx_time = re.compile(r'(.+?)-([A-Z][a-z]+)$')

def read_vessel_data(file_path):
    data = pd.read_csv(file_path, skiprows=1)
    #df.replace({"col1": di})
    data["Country"].replace(code_country, inplace=True)

    new_df = pd.DataFrame(columns = ["year", "month", "country", "variable", "value"])

    for _, row in data.iterrows():
        for c in data.columns:
            if c not in ["Year", "Country"]:
                search_time = rx_time.search(c)

                if search_time:
                    time = search_time.group(2)
                    item = search_time.group(1).strip()
                    if time in months:
                        
                        temp_dic = {'year': row["Year"], "country": row["Country"], "month": months[time], 'variable': item, 'value': row[c]}
                        new_df.loc[len(new_df)] = temp_dic 


    return new_df

In [27]:
df = read_vessel_data('vessels_by_nationalities/ik-500h2021001.csv')

In [28]:
df[df["country"] == "People's Republic of China"]

,year,month,country,item,value
16,2021,1,People's Republic of China,Number Of Vessels,143
17,2021,1,People's Republic of China,Number Of Vessel (Direct Entrance),64
18,2021,1,People's Republic of China,Net Tonnages,1090833
19,2021,1,People's Republic of China,Net Tonnages (Direct Entrance),493954
20,2021,2,People's Republic of China,Number Of Vessels,129
21,2021,2,People's Republic of China,Number Of Vessel (Direct Entrance),56
22,2021,2,People's Republic of China,Net Tonnages,814909
23,2021,2,People's Republic of China,Net Tonnages (Direct Entrance),403080