In [1]:
import pandas as pd
import numpy as np
import sys, os

In [12]:
code_country_df = pd.read_csv('vessels_by_nationalities/code_country.tsv', sep="\t")
code_country_df = code_country_df.set_index('code')
code_country_temp = code_country_df.to_dict('index')
code_country = {c:code_country_temp[c]['country'] for c in code_country_temp}

In [16]:
def read_vessel_data(file_path):
    data = pd.read_csv(file_path, skiprows=1)
    #df.replace({"col1": di})
    data["Country"].replace(code_country, inplace=True)

    return data

In [17]:
read_vessel_data('vessels_by_nationalities/ik-500h2021001.csv')

,Year,Country,Number Of Vessels -Year,Number Of Vessel (Direct Entrance) -Year,Net Tonnages-Year,Net Tonnages (Direct Entrance) -Year,Number Of Vessels -Jan,Number Of Vessel (Direct Entrance) -Jan,Net Tonnages-Jan,Net Tonnages (Direct Entrance) -Jan,...,Net Tonnages -Oct,Net Tonnages (Direct Entrance) -Oct,Number Of Vessels -Nov,Number Of Vessel (Direct Entrance) -Nov,Net Tonnages -Nov,Net Tonnages (Direct Entrance) -Nov,Number Of Vessels -Dec,Number Of Vessel (Direct Entrance) -Dec,Net Tonnages -Dec,Net Tonnages (Direct Entrance) -Dec
0,2021,100,899,432,16264830,8595466,473,223,7721086,4076700,...,0,0,0,0,0,0,0,0,0,0
1,2021,Republic of Korea,2212,1087,5454981,2382329,1083,541,2548337,1136480,...,0,0,0,0,0,0,0,0,0,0
2,2021,People's Republic of China,272,120,1905742,897034,143,64,1090833,493954,...,0,0,0,0,0,0,0,0,0,0
3,2021,Taiwan,38,9,412302,92009,20,5,212964,47204,...,0,0,0,0,0,0,0,0,0,0
4,2021,Mongolia,10,10,6919,6919,5,5,75,75,...,0,0,0,0,0,0,0,0,0,0
5,2021,Hong Kong,1653,597,14457010,5847591,868,315,8174184,3329196,...,0,0,0,0,0,0,0,0,0,0
6,2021,Viet Nam,45,24,269585,147946,23,13,105193,64046,...,0,0,0,0,0,0,0,0,0,0
7,2021,Thailand,47,18,198761,65497,21,8,93630,30396,...,0,0,0,0,0,0,0,0,0,0
8,2021,Singapore,805,331,10710229,4849705,430,177,6106954,2721630,...,0,0,0,0,0,0,0,0,0,0
9,2021,Malaysia,96,59,1641751,1375193,49,28,836878,684957,...,0,0,0,0,0,0,0,0,0,0
10,2021,Brunei,15,15,481374,481374,8,8,253200,253200,...,0,0,0,0,0,0,0,0,0,0
11,2021,Philippines,101,36,440716,165258,51,15,208773,61425,...,0,0,0,0,0,0,0,0,0,0
12,2021,Indonesia,11,8,62140,24778,2,2,3346,3346,...,0,0,0,0,0,0,0,0,0,0
13,2021,India,4,2,138983,73707,4,2,138983,73707,...,0,0,0,0,0,0,0,0,0,0
14,2021,Pakistan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2021,Bangladesh,13,7,230931,124672,6,3,101494,50747,...,0,0,0,0,0,0,0,0,0,0
16,2021,Bahrain,2,2,67966,67966,2,2,67966,67966,...,0,0,0,0,0,0,0,0,0,0
17,2021,Saudi Arabia,2,2,23764,23764,1,1,11678,11678,...,0,0,0,0,0,0,0,0,0,0
18,2021,Kuwait,3,1,71674,18997,1,0,33680,0,...,0,0,0,0,0,0,0,0,0,0
19,2021,Norway,72,28,1537071,563545,29,11,583514,222132,...,0,0,0,0,0,0,0,0,0,0
20,2021,Sweden,9,3,296241,97851,5,1,167565,33513,...,0,0,0,0,0,0,0,0,0,0
21,2021,Denmark,39,28,1129151,959424,18,13,447996,380868,...,0,0,0,0,0,0,0,0,0,0
22,2021,United Kingdom,122,41,1382402,679003,57,21,618065,317343,...,0,0,0,0,0,0,0,0,0,0
23,2021,Netherlands,22,17,74745,56694,13,11,44797,39015,...,0,0,0,0,0,0,0,0,0,0
24,2021,Belgium,5,2,288794,66614,2,0,202842,0,...,0,0,0,0,0,0,0,0,0,0
25,2021,Luxembourg,2,2,5384,5384,1,1,2692,2692,...,0,0,0,0,0,0,0,0,0,0
26,2021,France,1,1,35485,35485,1,1,35485,35485,...,0,0,0,0,0,0,0,0,0,0
27,2021,Germany,5,5,154992,154992,2,2,75398,75398,...,0,0,0,0,0,0,0,0,0,0
28,2021,Portugal,45,18,1028943,542175,29,13,723424,431941,...,0,0,0,0,0,0,0,0,0,0
29,2021,Gibraltar (UK),2,1,28234,14117,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,2021,Italy,3,2,93576,62384,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,2021,Malta,107,63,2473578,1719631,56,34,1344873,932724,...,0,0,0,0,0,0,0,0,0,0
32,2021,Russia,99,92,55852,39185,44,40,24505,17085,...,0,0,0,0,0,0,0,0,0,0
33,2021,Greece,36,24,1539415,876185,19,13,761631,452635,...,0,0,0,0,0,0,0,0,0,0
34,2021,Cyprus,111,55,1912176,1265481,54,31,1086852,774427,...,0,0,0,0,0,0,0,0,0,0
35,2021,Turkey,10,3,115006,32301,7,2,82705,21534,...,0,0,0,0,0,0,0,0,0,0
36,2021,Croatia,3,2,32902,23337,2,1,19130,9565,...,0,0,0,0,0,0,0,0,0,0
37,2021,United States of America,35,25,733028,478321,18,13,386019,248287,...,0,0,0,0,0,0,0,0,0,0
38,2021,Belize,734,348,970013,478184,347,176,442284,229176,...,0,0,0,0,0,0,0,0,0,0
39,2021,Panama,4711,2090,53785617,24204433,2371,1084,26738633,12725448,...,0,0,0,0,0,0,0,0,0,0
40,2021,Bermuda (UK),10,10,320000,320000,6,6,195828,195828,...,0,0,0,0,0,0,0,0,0,0
41,2021,The Bahamas,639,245,7453619,4036100,321,130,3761221,2178366,...,0,0,0,0,0,0,0,0,0,0
42,2021,Jamaica,11,7,18993,14423,6,4,9191,7623,...,0,0,0,0,0,0,0,0,0,0
43,2021,Barbados,1,1,5334,5334,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,2021,Netherlands Antilles,16,8,61626,30813,8,4,30836,15418,...,0,0,0,0,0,0,0,0,0,0
45,2021,Cayman islands (UK),36,17,589340,262133,19,9,311313,141564,...,0,0,0,0,0,0,0,0,0,0
46,2021,Antigua and Barbuda,187,58,800576,256155,95,29,405213,126886,...,0,0,0,0,0,0,0,0,0,0
47,2021,Dominica,6,3,5940,2970,2,1,1314,657,...,0,0,0,0,0,0,0,0,0,0
48,2021,St.Vincent,27,15,69161,37084,14,8,37880,20746,...,0,0,0,0,0,0,0,0,0,0
49,2021,Sierra Leone,184,82,238487,110245,100,47,126971,58857,...,0,0,0,0,0,0,0,0,0,0
50,2021,Liberia,914,394,14752051,7422253,413,181,6418014,3309358,...,0,0,0,0,0,0,0,0,0,0
51,2021,Togo,151,85,203511,115095,67,39,91372,53087,...,0,0,0,0,0,0,0,0,0,0
52,2021,Cameroon,6,2,6546,2182,3,1,3273,1091,...,0,0,0,0,0,0,0,0,0,0
53,2021,Seychelles,3,3,830,830,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54,2021,Australia,6,6,189018,189018,3,3,94509,94509,...,0,0,0,0,0,0,0,0,0,0
55,2021,Niue,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,2021,Vanuatu,15,10,265995,172293,5,3,103148,60068,...,0,0,0,0,0,0,0,0,0,0
57,2021,Tuvalu,7,3,29737,14251,2,1,2470,1235,...,0,0,0,0,0,0,0,0,0,0
58,2021,Marshall,662,280,10319728,5337026,331,146,5599474,3015288,...,0,0,0,0,0,0,0,0,0,0
59,2021,Palau,21,11,36539,19213,9,5,13033,7645,...,0,0,0,0,0,0,0,0,0,0